.img-avatar, .img-monster-avatar {
	width: 80px;
}

.img-char-sheet {
	width: 20px;
	margin-right: 5px;
}

.img-fight {
	width: 20px;
}

.img-health, .img-xp {
	float: left;
}

.character-name {
	font-weight: bold;
	font-size: 16px;
}

.character-level {
	font-size: 16px;
}

#fight-monster {
	margin-bottom: 20px;
}

.damage-taken {
	color: red;
	font-weight: bold;
	position: absolute;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;	
}