/web/bundles/
/web/css/minify/*
/web/js/minify/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters-prod.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
