{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css"  href="{{ asset('css/sonatadmin.css') }}"  />
{% endblock %}

{% block field%}
    <div>
        <img src="{{ asset('images/NexusMonster/'~object.avatar) }}" class="avatar-img" style="width: 20px" />
    </div>
{% endblock %}