<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Username</th>
			<th>Level</th>
			<th>Experience</th>
		</tr>
	</thead>
	<tbody>
		{% for character in leaderboard %}
			<tr>
				<td>{{ loop.index }}.</td>
				<td>{{ character.user.username }}</td>
				<td>{{ character.level }}</td>
				<td>{{ character.experience }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>